.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.categoryCard:hover {
  cursor: pointer;
}

.categoryCard img {
  position: absolute;
  width: 180px;
  height: 180px;
}

.categoryCard h1 {
  color: white;
  font-size: 20px;
  margin-top: 0.5rem;
  z-index: 10;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
