.dashboard__container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
}

.dashboard-searchResults {
  overflow: scroll;
}

.dashboard-searchResults::-webkit-scrollbar {
  display: none;
}
