.library__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 6rem;
}

.library__container h3 {
  color: white;
  font-size: 22px;
  margin-top: 2rem;
}

.library-playlists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
