.search__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 6rem;
}

.searchBar__container {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 350px;
}

.search-results {
  margin-top: 2rem;
  margin-left: 3rem;
  overflow-y: scroll;
}

.search-results::-webkit-scrollbar {
  display: none;
}
