.artist__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  width: 88%;
}

.artist__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  padding: 2rem;

  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  opacity: 0.9;
}

.artist__header h2 {
  font-size: 80px;
  color: white;
  margin-top: 7rem;
  position: relative;
}

.artist__header h5 {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  margin-top: 2rem;
  position: relative;
}

.artist-topTracks__container {
  padding: 2rem;
}

.artist-topTracks__container h4 {
  color: white;
  font-size: 22px;
}

.artist__topTracks {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 1100px;

  list-style: none;
  counter-reset: track;
}

.artist-topTrack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;

  counter-increment: track;
}

.artist-topTrack::before {
  content: counter(track);
  color: white;
}

.artist-topTrack img {
  width: 40px;
}

.artist-topTrackName {
  color: white;
}

.artist-topTrackTime {
  color: #a5a5a5;
  margin-left: auto;
}

.artist-relatedArtists__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.artist-relatedArtists__container h4 {
  font-size: 22px;
  color: white;
}

.artist-relatedArtists {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 2rem;
}
