.artist__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  width: 88%;
}

.artist__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  padding: 2rem;

  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
  opacity: 0.9;
}

.artist__header h2 {
  font-size: 80px;
  color: white;
  margin-top: 7rem;
  position: relative;
}

.artist__header h5 {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  margin-top: 2rem;
  position: relative;
}

.artist-play__container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.artist-playButton {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--color-green);
}

.artist-topTracks__container {
  padding: 2rem;
  width: 1150px;
}

.artist-topTracks__container h4 {
  color: white;
  font-size: 22px;
}

.artist__topTracks {
  margin-top: 2rem;
  margin-left: 1rem;

  list-style: none;
  counter-reset: track;
}

.artist-topTrack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  border-radius: 6px;
  height: 60px;
  padding-left: 1rem;
  padding-right: 1rem;

  counter-increment: track;
}

.artist-topTrack::before {
  content: counter(track);
  color: white;
  width: 30px;
}

.artist-topTrack:hover {
  background-color: #2d2d2d;
  cursor: pointer;
}

.artist-topTrack img {
  width: 40px;
  height: 40px;
  margin-left: -1rem;
}

.artist-topTrackName {
  color: white;
  width: 450px;
}

.artist-topTrack-saveIcon {
  color: #a5a5a5;
  margin-left: 22rem;
  visibility: hidden;
}

.artist-topTrack-saved {
  fill: var(--color-green);
  margin-left: 22rem;
}

.artist-topTrack-saveIcon:hover {
  color: white;
}

.artist-topTrack:hover .artist-topTrack-saveIcon {
  visibility: visible;
}

.artist-topTrackTime {
  color: #a5a5a5;
  margin-left: auto;
  font-size: 14px;
}

.artist__topTracks-showMore {
  color: #a5a5a5;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
}

.artist__topTracks-showMore:hover {
  color: white;
}

.artist-discography__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.artist-discography-header {
  color: white;
  font-size: 22px;
}

.artist-discography-selector {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.artist-discography-album-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background-color: #232323;
}

.artist-discography-album-selector:hover {
  cursor: pointer;
  background-color: #2d2d2d;
}

.artist-discography-single-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  width: 140px;
  height: 30px;
  border-radius: 20px;
  background-color: #232323;
}

.artist-discography-single-selector:hover {
  cursor: pointer;
  background-color: #2d2d2d;
}

.artist-discography-selected {
  background-color: white;
  color: black;
}

.artist-discography {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1.5rem;
}

.artist-relatedArtists__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.artist-relatedArtists-header {
  font-size: 22px;
  color: white;
}

.artist-relatedArtists {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 2rem;
}
