.searchBar {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1.5rem;
  width: 500px;
}

.searchBar input {
  width: 350px;
  height: 40px;
  padding: 1rem;
  border-style: none;
  border: 1px solid gray;
  border-radius: 20px;
}
.searchBar input[type='search'] {
  font-size: 16px;
}

.searchBar input:focus {
  outline: none;
}
