.topArtistCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  height: 265px;
  background-color: #181818;
  border-radius: 10px;
  padding: 1rem;
}

.topArtistCard img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-top: -0.5rem;
}

.topArtistCard__info {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 50px;
  margin-top: 1rem;
  gap: 0.7rem;
}

.topArtistCard__info h4 {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.topArtistCard__info h5 {
  color: var(--color-gray);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
}
