.playlist__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 6rem;
}

.playlist__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

.playlist-cover {
  width: 240px;
  height: 240px;
}

.playlist__header-details {
  display: flex;
  flex-direction: column;
}

.playlist__header-details h5 {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  margin-bottom: auto;
}

.playlist__header-details h3 {
  font-size: 60px;
  color: white;
  width: 1200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlist__header-bottom {
  margin-top: auto;
}

.playlist__header-details p {
  font-size: 15px;
  color: #a5a5a5;
  margin-bottom: 1rem;
}

.playlist__header span {
  font-size: 13px;
  color: white;
  font-weight: 700;
}

.playlist-play__container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  height: 70px;
}

.playlist-playButton {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--color-green);
}

.playlist-playButton:hover {
  width: 62px;
  height: 62px;
}

.playlist__tracks__container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 2rem;
}

.playlist__tracks-header {
  display: flex;
  flex-direction: row;
  color: #a5a5a5;
  border-bottom: 1px solid #1d1f1f;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.playlist__tracks-header p {
  font-size: 14px;
  text-transform: uppercase;
}

.playlist__tracks-header-title {
  margin-left: 2.5rem;
}

.playlist__tracks-header-album {
  margin-left: 31.8rem;
}
.playlist__tracks-header-date {
  margin-left: 22.4rem;
}

.playlist__tracks-clock {
  margin-left: auto;
}

.playlist__tracks {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.playlist-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 60px;
}

.playlist-track:hover {
  background-color: #2d2d2d;
  cursor: pointer;
}

.playlist-trackNumber {
  color: #a5a5a5;
  width: 30px;
}

.playlist-trackTitle__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1.3rem;
  gap: 1rem;
  width: 400px;
}

.playlist-track img {
  width: 40px;
  height: 40px;
}

.playlist-trackTitle-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.playlist-trackTitle {
  color: white;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlist-trackArtist {
  color: #a5a5a5;
  font-size: 13px;
}

.playlist-trackArtist:hover {
  text-decoration: underline;
  color: white;
}

.playlist-track-album {
  width: 200px;
  font-size: 13px;
  color: #a5a5a5;
  margin-left: 9rem;
  width: 400px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playlist-track-album:hover {
  text-decoration: underline;
  color: white;
}

.playlist-track-addedDate {
  font-size: 14px;
  color: #a5a5a5;
  margin-left: 1rem;
  width: 200px;
}

.playlist-track-saveIcon {
  color: #a5a5a5;
  margin-left: 5rem;
  visibility: hidden;
}

.playlist-track-saved {
  fill: var(--color-green);
  margin-left: 5rem;
}

.playlist-track-saveIcon:hover {
  color: white;
}

.playlist-track:hover .playlist-track-saveIcon {
  visibility: visible;
}

.playlist-track-time {
  font-size: 14px;
  color: #a5a5a5;
  margin-left: auto;
}
