.home__container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

.home-header h2 {
  color: white;
  font-size: 30px;
}

.home-newReleases__container {
  display: flex;
  flex-direction: column;
}

.home-newReleases__container h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.home-newReleases {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.home-recentlyPlayed__container {
  display: flex;
  flex-direction: column;
}

.home-recentlyPlayed__container h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 1.5rem;
}

.home-recentlyPlayed {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
